In [5]:
import pandas as pd

# Load the dataset
data = pd.read_csv('data/employee_turnover.csv')  # Updated file name

# Data preprocessing steps
# Example: Handling missing values
data.dropna(inplace=True)  # Drop rows with missing values

# Example: Encoding categorical variables
data = pd.get_dummies(data, columns=['Gender', 'MaritalStatus', 'Education', 'Department', 'JobRole'], drop_first=True)

# Display the first few rows of the preprocessed data
data.head()

,EmployeeID,Age,MonthlyIncome,YearsAtCompany,TotalWorkingYears,YearsInCurrentRole,Attrition,Gender_Male,MaritalStatus_Single,Education_Master's,...,Department_R&D,Department_Sales,JobRole_Data Scientist,JobRole_Financial Analyst,JobRole_HR Manager,JobRole_HR Specialist,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative
0,101,32,4200,6,10,3,No,1,0,0,...,0,0,0,0,0,1,0,0,0,0
1,102,45,5200,8,15,4,No,0,1,1,...,0,0,0,1,0,0,0,0,0,0
2,103,28,6500,3,6,2,Yes,1,1,0,...,1,0,1,0,0,0,0,0,0,0
3,104,29,3500,2,5,2,Yes,1,0,0,...,1,0,0,0,0,0,0,1,0,0
4,105,35,4400,5,12,3,No,0,0,0,...,1,0,0,0,0,0,0,0,0,0